<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nan.ssprocess">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.SinSimApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".service.MyMqttService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/login_activity" />
        <activity
            android:name=".ui.activity.ProcessToInstallActivity"
            android:screenOrientation="portrait"
            android:label="安装组长" />
        <activity
            android:name=".ui.activity.ProcessToCheckoutActivity"
            android:screenOrientation="portrait"
            android:label="质检员" />
        <activity
            android:name=".ui.activity.ProcessToAdminActivity"
            android:screenOrientation="portrait"
            android:label="生产部管理员" />
        <activity
            android:name=".ui.activity.ScanQrcodeActivity"
            android:screenOrientation="portrait"
            android:label="@string/qr_scan" />
        <activity
            android:name=".ui.activity.DetailToAdminActivity"
            android:screenOrientation="portrait"
            android:label="机器详情"/>
        <activity
            android:name=".ui.activity.DetailToInstallActivity"
            android:screenOrientation="portrait"
            android:label="机器安装详情" />
        <activity
            android:name=".ui.activity.DetailToCheckoutActivity"
            android:screenOrientation="portrait"
            android:label="质检详情" />
        <activity
            android:name=".ui.activity.ProcessToMachineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nan.ssprocess.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>