<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nan.ssprocess">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.SinSimApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".service.MyMqttService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login_activity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.ProcessToInstallActivity"
            android:label="@string/install_activity" />
        <activity
            android:name=".activity.ProcessToCheckoutActivity"
            android:label="@string/checkout_activity" />
        <activity android:name=".activity.ProcessToAdminActivity" />
        <activity
            android:name=".activity.ScanQrcodeActivity"
            android:label="@string/qr_scan" />
        <activity
            android:name=".activity.DetailToAdminActivity"
            android:label="@string/detail_update"
            android:theme="@style/AppThemeNoTitle" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.nan.ssprocess.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.DetailToInstallActivity" />
        <activity android:name=".activity.DetailToCheckoutActivity"></activity>
    </application>

</manifest>